.hero-bg {
    background-image: url("img/hero-bg.jpg");
    height: 87vh;
    background-position: center;
    background-size: cover;
}
body{
    overflow-x: hidden;
    height: 100%;

}
.hero-bg h1 {
    color: #2c4964;
    padding-top: 10%;
    font-size: 50px;
}

.hero-bg h5 {
    color: #2c4964;
    font-size: 24px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 15px;
}

.appointment {
    background-color: #1977cc;
}

.appointment:hover {
    background-color: #1977cc;
}

.button {
    background-color: #1977cc;
}

.button:hover {
    background-color: #1977cc;
}

.life {
    color: #2c4964;
    font-size: 30px;
}

.navbar-nav .active {
    border-bottom: 3px solid #2c4964;

}

.more {
    background-color: #4792d6;
    color: #ffffff;
    /* margin-left: 60px; */
}

.more:hover {
    background-color: #ffffff;
    color: #1977cc;
}

.reign {
    background-color: #1977cc;
}

.cube {
    color: #1977cc;
    text-align: center;
    font-size: 30px;
}

.head {
    margin-top: -15%;
}

.mg {
    margin-top: 8%;
}

.Pan {
    text-align: center;
}

.Pan h5 {
    color: #444444;
    font-size: 25px;
}

.Pan p {
    color: #848688;
    font-size: 15px;
    padding-top: 15px;
}

.about img {
    width: 90%;
    height: 100%;
}

.amazing {
    color: #2c4964;
}

.finger-box {
    float: left;
    margin-right: 20px;
}

.finger {
    display: block;
    font-size: 30px;
    padding: 10px;
    border: 3px solid #9fcbf3;
    border-radius: 60%;
    float: left;
    margin-right: 6%;
    color: #1977cc;
}

.finger:hover {
    color: #ffffff;
    background-color: #1977cc;
}

.finger1 {
    margin-right: 10px;
}

.finger1 a {
    color: #343a40;
    font-weight: bold;
    text-decoration: none;
}

.finger1 a:hover {
    color: #1977cc;
}

.finger1 p {
    font-size: 18px;
}

.type {
    background-color: #f1f7fd;
}

.section {
    position: relative;
}

.section::after {
    content: '';
    height: 2px;
    width: 40px;
    background-color: blue;
    position: absolute;
    left: calc(50% - 20px);
    top: 50px;
}

.section::before {
    content: '';
    height: 1px;
    width: 105px;
    background-color: lightgrey;
    position: absolute;
    right: calc(50% - 50px);
    top: 50px;
}

.heart {
    text-align: center;
    padding: 50px 20px;
}

.heart i {
    position: absolute;
}

.power {
    font-size: 30px;
    position: relative;
    color: white;

    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #1977cc;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
}

.power::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: #badaf7;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
}

.heart:hover .power::before {
    background-color: #1977cc;
}

.heart:hover .power {
    background-color: white;
}

.heart:hover {
    background-color: #1977cc;
    color: #ffffff;
}

.great {
    background-color: #f1f7fd;
    padding: auto;
}

.poll {
    padding-top: 5%;
    color: #2c4964;
    font-weight: bold;
}

.pill {
    color: #2c4964;
    font-weight: bold;
}

.honor {
    position: relative;
}

.honor::after {
    content: '';
    height: 2px;
    width: 40px;
    background-color: blue;
    position: absolute;
    left: calc(50% - 20px);
    top: 110px;
}

.honor::before {
    content: '';
    height: 1px;
    width: 100px;
    background-color: lightgrey;
    position: absolute;
    right: calc(50% - 50px);
    top: 110px;
}

.suzan p {
    text-decoration: none;
    color: #394964;
    font-weight: bold;
}

.suzan p:hover {
    color: #1977cc;
}

.Abass:hover {
    color: #ffffff;
}

.Abass .nav-link {
    border-right: 2px solid lightgrey;
    border-radius: 0;
    font-weight: 500;
    color: #000;
}

.nav-link:hover{
    color:#1977cc;
}

.Abass .nav-link.active {
    color: #1977cc;
    font-weight: bolder;
    background: transparent;
    border-right: 2px solid #1977cc;
    border-radius: 0;
}

.pail {
    color: #2c4964;
}

.confidence h4 {
    color: #394964;
}

.lock {
    padding-left: 20px;
}

.see {
    position: relative;
    padding-bottom: 10px;
}

.see::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #9fcbf3;
    bottom: 0;
    left: 0;
}

.boll:hover img {
    transform: scale(1.1);
}

.boll img {
    transition: all ease-in-out 0.4s;
}

.space {
    display: block;
    font-size: 15px;
    padding: 5px;
    background-color: #a0bcd5;
    border: 3px solid #a0bcd5;
    border-radius: 50%;
    float: left;
    margin-right: 4px;
    color: white;
}

.pick {
    width: 80%;
    background-color: #ffffff;
    margin-left: 80px;
    height: 45px;
    border-radius: 4px;
}

.pick i {
    padding-left: 10px;
}

.testimonial {
    box-sizing: content-box;
    padding: 30px 30px 30px 60px;
    margin: 30px 15px;
    min-height: 200px;
    box-shadow: 0px 2px 12px rgb(44 73 100 / 8%);
    position: relative;
}

.gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    margin-left: -24px;
}

.gallery .gallery-item:hover img {
    transform: scale(1.1);
}

.gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
}

.img-fluid {
    max-width: 106%;
    height: auto;
}

.sdet {
    width: 100%;
    background: #fff;
}

.abobi i {
    font-size: 20px;
    color: #1977cc;
    float: left;
    width: 44px;
    height: 44px;
    background: #d6e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.lgb button {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    border-radius: 50px;
}

.form-group {
    padding-bottom: 8px;
}
.ulg{
    border-radius: 0;
}

.ulg input {
    height: 45px;
    border-radius: 0;
}

.hlj {
    background-color: #c8ddfb;
    width: 44px;
    height:44px;
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.hlj:hover{
    background-color:#3177cc;
    color:#fff;
}

.hlj i{
    display: inline-block;
}

.lad{
    display:flex;
}

.below{
    padding-left: 15px;
}

.footer {
    margin-top: 60px;
    padding: 60px 0 0 0;
    background: #fff;
    box-shadow: 0px 2px 20px rgb(25 119 204 / 10%);
}

.outer strong{
    color:#777;
}

 .main{
    list-style-type: none;
 }

 .main a{
    text-decoration: none;
    color:#777;
 }
 .main a:hover{
    text-decoration: none;
    color:#1977cc;
 }

.above form{
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #bfdcf7;
}

.above form input[type=email]{
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

.above form input[type=submit]{
    position:absolute;
    font-size: 16px;
    padding: 0 20px;
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
}

.ghj{
    background-color: #1977cc;
    color:#fff;
    width: 44px;
    height:44px;
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}

.inline{
    /* float: right; */
    /* position:relative;
    bottom: 50px; */
}

.arrow{
    float:right;
    left:97%;
    bottom:10px;
    position:fixed;
    padding:10px;
}
.circuit{
    background-color: #1977cc;
    color:#fff;
    text-align: center;
}
.circuit:hover{
   color:#fff;
}